In [12]:
import tensorflow as tf
from tensorflow.keras.models import load_model
import pickle
import pandas as pd
import numpy as np

In [13]:
model=load_model('model.h5')
with open('l.pkl','rb') as file:
    l=pickle.load(file)
with open('ohe.pkl','rb') as file:
    ohe=pickle.load(file)
with open('scaler.pkl','rb') as file:
    scaler=pickle.load(file)

WARNING:absl:Compiled the loaded model, but the compiled metrics have yet to be built. `model.compile_metrics` will be empty until you train or evaluate the model.

In [22]:
input_data={
     'CreditScore':600,
     'Geography':'France',
     'Gender':'Female', 
     'Age':42,
     'Tenure':2, 
     'Balance':0.0, 
     'NumOfProducts':1, 
     'HasCrCard':1,
     'IsActiveMember':1, 
     'EstimatedSalary':101348.88
}
input_df=pd.DataFrame([input_data])
input_df

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,600,France,Female,42,2,0.0,1,1,1,101348.88

In [19]:
geo=ohe.transform([[input_data['Geography']]]).toarray()
geo_df=pd.DataFrame(geo,columns=ohe.get_feature_names_out(['Geography']))
geo_df

/home/illahi/.local/lib/python3.10/site-packages/sklearn/base.py:493: UserWarning: X does not have valid feature names, but OneHotEncoder was fitted with feature names
  warnings.warn(

   Geography_France  Geography_Germany  Geography_Spain
0               1.0                0.0              0.0

In [26]:
# categorical_variables
input_df['Gender']=l.transform(input_df['Gender'])
input_df

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,600,France,0,42,2,0.0,1,1,1,101348.88

In [28]:
input_df=pd.concat([input_df.drop("Geography",axis=1),geo_df],axis=1)

In [29]:
input_df

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Geography_France,Geography_Germany,Geography_Spain
0,600,0,42,2,0.0,1,1,1,101348.88,1.0,0.0,0.0

In [30]:
# Scaling_input_Data
input_scaled=scaler.transform(input_df)
input_scaled

array([[-0.53598516, -1.09499335,  0.29493847, -1.04241787, -1.21847056,
        -0.91668767,  0.64920267,  0.97481699,  0.01595384,  1.00150113,
        -0.57946723, -0.57638802]])

In [31]:
prediction=model.predict(input_scaled)
prediction

1/1 ━━━━━━━━━━━━━━━━━━━━ 1s 1s/step

array([[0.17377862]], dtype=float32)

In [33]:
prediction_proba=prediction[0][0]
prediction_proba

0.17377862

In [34]:
if prediction_proba>0.5:
    print("The customer is likely to churn")
else:
    print("The customer is not likely to churn")

The customer is not likely to churn